<div class="">
  <div class="header p-3">
    <div class="d-inline-block rounded px-3 font-weight-bold mr-4"><i class="fas fa-list mr-2"></i>SAVED LIST</div>
    <div class="d-inline-block mr-4 font-weight-bold"><i class="fas fa-filter mr-2"></i>SAVED FILTERS</div>
    <div class="d-inline-block mr-3 font-weight-bold"><i class="fas fa-history mr-2"></i>SEARCH HISTORY </div>
    <div class="search-box d-inline-block float-right">
      <input type="text" placeholder="Search" class="form-control" [(ngModel)]="searchInput">
    </div>
  </div>
  <div class="row mx-0 data-container">
    <div class="col-sm-9 px-0">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="text-center">Date</th>
            <th>List Name</th>
            <th class="text-right">No. of Entities</th>
            <th>Actions</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let elem of listData['data'] | search:searchInput:'list_item'; let i=index;" [ngClass]="{'selected':(selectedRowIndex==i)}">
            <td class="text-center">
              <img src="assets/images/pc_logo.png" height="15px" width="15px" *ngIf="elem.no_of_entities==0">
              <span *ngIf="elem.no_of_entities!=0" class="text-gray">{{elem.date | date:'MMM d'}}</span>
            </td>
            <td  [ngClass]="{'text-blue':(elem.no_of_entities==0), 'font-weight-bold':true}">{{elem.list_item}}</td>
            <td class="text-right">{{elem.no_of_entities}}</td>
            <td>
              <i class="fas fa-envelope mx-2 text-gray"></i>
              <i class="fas fa-share-alt mx-2 text-gray"></i>
              <i class="fas fa-pen mx-2 text-gray"></i>
              <i class="fas fa-trash-alt mx-2 text-gray"></i>
            </td>
            <td>
              <div (click)="showDetails(elem,i)" class="detail-btn rounded-top text-center" [ngClass]="{'selected':(selectedRowIndex==i)}">Details</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-3">
      <app-list-element-detail [data]="selectedRowData"></app-list-element-detail>
    </div>
  </div>
</div>
